.git
.idea
.vscode
node_modules
vendor
.env
.env.*
!.env.example
!.env2.example
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/framework/testing
storage/app/public
public/storage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
